<p>
  <b>Name:</b>
  <%=h @universe.name %>
</p>

<p>
  <b>Website:</b>
  <%=link_to @universe.website, @universe.website %>
</p>

<p>
  <b>Description:</b>
  <%=h @universe.description %>
</p>

<table>
  <tr>
	<th>Word</th>
	<th>Definition</th>
	<th>External Website</th>
  </tr>

<% @universe.words.each do |word| %>
  <tr>
    <td><%= link_to word.word, word %></td>
	<td><%= word.definition ? word.definition : "none" %></td>
	<td><%= link_to "link", word.address %></td>
  </tr>
<% end %>
</table>
