<p>
  <b>Name:</b>
  <%=h @universe.name %>
</p>

<p>
  <b>Website:</b>
  <%=h @universe.website %>
</p>

<p>
  <b>Description:</b>
  <%=h @universe.description %>
</p>

<table>
  <tr>
	<th>Word</th>
	<th>Definition</th>
	<th>External Website</th>
  </tr>

<% @universe.words.each do |word| %>
  <tr>
    <td><%= link_to word, word %></td>
	<td><%= word.definition %></td>
	<td><%= link_to word.website, word.website %></td>
  </tr>
<% end %>
</table>
